.header-search{
    background-color: blue;
    //padding-left: 10%;
    //padding-right:10%;
    padding-top:4rem;
    padding-bottom: 4rem;
}

.container{
    align-items: center;
}

.custom-paging{
    align-content: flex-end;
}
