<header class="header-search">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <select class="form-control" [(ngModel)]="sortValue" (ngModelChange)="sortChange($event);">
          <option *ngFor="let sort of sortList" value={{sort.value}}>
            {{sort.text}}
          </option>
        </select>
      </div>
      <div class="col-7">
        <input type="search" class="form-control" [(ngModel)]="searchUser" (ngModelChange)="onSearch($event)"
          id="searchText" placeholder="Search - Type minimum 3 characters">
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class='count-header' *ngIf='gridData.length>0'>Total Results : {{resultCount}}</div>
  <app-user-list [data]="gridData"></app-user-list>
  <div *ngIf='gridData.length>0' class="custom-paging">
    <app-custom-paging></app-custom-paging>
  </div>
</div>
