<header class="header-search">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <select class="form-control" [(ngModel)]="sortValue" (ngModelChange)="sortChange($event);">
          <option *ngFor="let sort of sortList" value={{sort.value}}>
            {{sort.text}}
          </option>
        </select>
      </div>
      <div class="col-7">
        <input type="search" class="form-control" [(ngModel)]="searchUser" (ngModelChange)="onSearch($event)"
          id="searchText" placeholder="Search - Type minimum 3 characters">
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div style="margin-top: .7rem;" *ngIf='originalGridData.length>0'>
    <div class='count-header' *ngIf='originalGridData.length>0'>Total Results : {{resultCount}}</div>
    <div *ngIf='originalGridData.length>0' class="custom-paging-top">
      <app-custom-paging [totalItems]="resultCount" (pageinationActionClicked)="onPageinationClicked($event)">
      </app-custom-paging>
    </div>
  </div>
  <app-user-list *ngIf='originalGridData.length>0' [data]="originalGridData"></app-user-list>
  <div *ngIf='originalGridData.length>0' class="custom-paging">
    <app-custom-paging [totalItems]="resultCount" (pageinationActionClicked)="onPageinationClicked($event)">
    </app-custom-paging>
  </div>
</div>
