@import '../../../styles.scss';

.header-search{
    background-color: $header-color;
    padding-top:2rem;
    padding-bottom: 2rem;
}

.container{
    align-items: center;
}

.custom-paging{
    float: right;
    padding-bottom: 5px;
}

.count-header{
    margin-top: .7rem;
    font-weight: bold;
}
