<!-- <div *ngIf='userList.length>0'> -->
<div class="card-container" *ngFor='let user of userList'>
    <div class="user-card">
      <div>
        <img class="user-card-img" src="{{user.avatar_url}}" alt="Card image cap">
      </div>
      <div class="user-card-body">
        <h5 class="card-title">{{user.login}}</h5>
        <p class="card-text">{{user.html_url}}</p>
        <p class="card-text">score: {{user.score}}</p>
        <p class="card-text">score: {{user.followers_url}}</p>
      </div>
      <div>
        <button *ngIf='user.collapsed' (click)='onDetailClick(user)'>Details</button>
        <button *ngIf='!user.collapsed' (click)='onCollapseClick(user)'>Collapse</button>
      </div>
    </div>
    <div class="user-card-details" *ngIf='!user.collapsed'>
      <div class="row">
        <div class="col-6">
          hello
        </div>
        <div class="col-6">
            hello
        </div>
      </div>
      <div class="row">
          <div class="col-6">
            hello
          </div>
          <div class="col-6">
              hello
          </div>
      </div>
    </div>
  </div>
<!-- </div> -->
