<button class="pagination-btn" title="First page">
  <i class="material-icons">
    first_page
  </i>
</button>
<button class="pagination-btn" disabled="true" title="Previous page">
  <i class="material-icons">
    chevron_left
  </i>
</button>
<div class="page-number-display" title="Current page">{{pageNumber}}</div>
<button class="pagination-btn" title="Next page">
  <i class="material-icons">
    chevron_right
  </i>
</button>
<button class="pagination-btn" title="Last page">
  <i class="material-icons">
    last_page
  </i>
</button>
