<button class="pagination-btn" title="First page" (click)='onFirstPageClicked()'>
  <i class="material-icons">
    first_page
  </i>
</button>
<button class="pagination-btn" title="-10 page" (click)='onPrev10PageClicked()'>
  <i class="material-icons">
    fast_rewind
  </i>
</button>
<button class="pagination-btn" title="Previous page" (click)='onPreviousPageClicked()'>
  <i class="material-icons">
    chevron_left
  </i>
</button>
<div class="page-number-display" title="Current page">{{currentPage}}</div>
<button class="pagination-btn" title="Next page" (click)='onNextPageClicked()'>
  <i class="material-icons">
    chevron_right
  </i>
</button>
<button class="pagination-btn" title="+10 page" (click)='onNext10PageClicked()'>
  <i class="material-icons">
    fast_forward
  </i>
</button>
<button class="pagination-btn" title="Last page" (click)='onLastPageClicked()'>
  <i class="material-icons">
    last_page
  </i>
</button>
