@import '../../../styles.scss';

.pagination-btn{
    background:transparent;
    border:transparent;
    &:hover{
        color:$btn-hover;
        border:1px solid $btn-color;
        border-radius:2px;
    }
}

.page-number-display{
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    position: relative;
    bottom: 6px;
    color: $btn-color;
    cursor: pointer;
}